.container{
    width:500px;
   overflow:hidden;
    clear:both;
    background-color:#888;
}

.box{
    width:100px;
    height:100px;
    background-color:aqua;
    margin:5px;
    /* 边距 */
    float:left;
}

.text{
    width:100px;
    height:100px;
    background-color:blueviolet;
   
}
